		body{
			font-family: Verdana,"Microsoft YaHei", sans-serif;
			margin: 0px;
			padding: 0px;
			background-color: #F9F9F9;
		}
		.myhead{
			height: 300px;
			background: linear-gradient(to bottom right ,#0099CC,#6699CC);
		}
		.mynav{
			height: 125px;
			padding-top: 25px;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			list-style: none;
			text-align: center;
		}
		.mynav a:hover,
		.mynav a:focus{
			border-bottom-color: #F5F5F5;
			border-bottom: solid 2px;
		}
		.mynav div.active a,
		.mynav div.active a:focus,
		.mynav div.active a:hover{
			border-bottom-color: #FFFFFF;
			border-bottom: solid 2px;
		}
		.mynav a{
			color: #F9F9F9;
			font-size: 20pt;
  			margin-left: auto;
			margin-right: auto;
			padding-bottom: 10px;
		}
		.mynav a:hover,
		.mynav a:focus {
  			text-decoration: none;
		}
		.mynav span{
			display:block; 
			position:absolute; 
			width:0px; 
			height:0px; 
			background:#F9F9F9; 
			top:99%; 
			left:50%;
		}
		div.title{
			font-size: 16pt;
			color: #6699CC;
		}
		div.item{
			padding-top: 35px;
			font-size: 18pt;
			margin-top: 20px;
			background-color: #FFFFFF;
			height: 100px;
			border-radius: 10px;
			color: #777;
			box-shadow: 0 1px 3px rgba(0,0,0,0.12);
		}
		div.item:hover{
			box-shadow: 0 1px 3px rgba(0,0,0,0.4);
		}
		div.income{
			color: #669999;
		}
		div.pay{
			color: #CC6666;
		}
		.headicon{
			margin-left: 50px;
			width: 50px;
			height: 50px;
			background-image: url(../img/icon-记账.png);
			background-size: 100%;
		}
		.profileicon{
			margin-left: auto;
			margin-right: auto;
			width: 150px;
			height: 150px;
			border-radius: 50%;
			background-image: url(../img/QQ截图20161008214804.png);
			background-size: 100%;
		}
		div.mycon{
			padding-top: 75px;
			padding-left: 20px;
			padding-right: 20px;
			padding-bottom: 75px;
			position: relative;
		}
		
		.sign{
			margin: auto;
			margin-top: 100px;
			position: relative;
			transform-style: preserve-3d;
			perspective: 1000;
			transition: 1s;
			width: 360px;
			height: 500px;
			padding-left: 30px;
			padding-right: 30px;
		}
		.signin{
			z-index: 5;
			position: absolute;
			backface-visibility: hidden;
		}
		.signup{
			position: absolute;
			backface-visibility: hidden;
			transform: rotateY(180deg);
		}
		.flip{
			transform: rotateY(180deg);
		}
		.signchild{
			position: relative;
			padding-left: 20px;
			padding-right: 20px;
			padding-top: 30px;
			background-color: #FFFFFF;
			width: 300px;
			height: 320px;
			border-radius: 5px;
		}
		.sign form > div{
			position: relative;
			height: 70px;
			padding-top: 15px;
		}
		.sign label{
			z-index: 5;
			position: absolute;
			display: block;
			top: 20px;
			color: #ADADAD;
			font-weight: lighter;
			transition: all 0.2s;
		}
		.sign input:not(:placeholder-shown) + label{
			top:0px;
		}
		.sign input{
			bottom: 0px;
			height: 35px;
			display: block;
			width: 100%;
			border: none;
			border-bottom: 1px solid #DDDDDD;
			outline: none;
		}
		.sign input:hover,
		.sign input:focus{
			border-bottom: 2px solid #0066CC;
		}
		.sign input:focus + label{
			color: #0066CC;
			top:0px;
		}
		button.signbtn{
			display: block;
			width: 100%;
			background-color: #FFFFFF;
			color: #0066CC;
			border: 1px solid #0066CC;
  			padding: 10px 16px;
  			font-size: 18px;
  			line-height: 1.3333333;
  			border-radius: 6px;
		}
		button.signbtn:hover,
		button.signbtn:focus{
			background-color: #0066CC;
			color: #FFFFFF;
			border: 1px solid #FFFFFF;
		}
		.sign span{
			margin-top: 15px;
			display: block;
			width: 100%;
			text-align: center;
		}
		.sign a{
			color: #0066CC;
			opacity: 0.9;
		}
		.sign a:hover,
		.sign a:focus{
			text-decoration: none;
		}
		@keyframes loading-spinner {
		  from {
		    -webkit-transform: rotate(0deg);
		    -ms-transform: rotate(0deg);
		    -o-transform: rotate(0deg);
		    transform: rotate(0deg);
		  }
		  
		  to {
		    -webkit-transform: rotate(360deg);
		    -ms-transform: rotate(360deg);
		    -o-transform: rotate(360deg);
		    transform: rotate(360deg);
		  }
		}
		.loading-spinner {
		  position: absolute;
		  top: 40%;
		  left: 50%;
		  margin: 18px;
		  margin-left:-4px;
		  width: 8px;
		  height: 8px;
		  border-radius: 50%; 
		  box-shadow: -9px -16px 0 0 #19ffdf, 
		              -18px 0px 0 0 rgba(25, 255, 223, 0.8), 
		              -9px 16px 0 0 rgba(25, 255, 223, 0.6), 
		              9px 16px 0 0 rgba(25, 255, 223, 0.4), 
		              18px 0px 0 0 rgba(25, 255, 223, 0.3), 
		              9px -16px 0 0 rgba(25, 255, 223, 0.1);
		  -webkit-animation: 1s loading-spinner steps(6) infinite;
		  animation: 1s loading-spinner steps(6) infinite;
		}